:host {
    display:block;
    min-height: 37vh;
    .board {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 12px;
        max-width: 380px;
        margin: auto;
        
    }

    .board.focus-visible {
        border: none;
    }
    .input-text {
        padding: 12px 10px 0;
        width: 30px;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border: 1px solid rgb(209, 207, 207);
        background-color: rgb(230, 227, 227);
        font-size: 24px;
        border-radius: 8px;

        display: flex;
        justify-content: center;

        p {
            margin: 0;
        }
        
    }
}