:host {
    display:block;
    min-height: 37vh;
    .board {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 6px;
        max-width: 284px;
        margin: auto;
        padding: 12px; 

        border-radius: 12px;
    }

    
    .input-text {
        padding: 12px 10px 0;
        width: 30px;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border: 1px solid rgb(209, 207, 207);
        background-color: rgb(230, 227, 227);
        font-size: 24px;
        border-radius: 8px;

        display: flex;
        justify-content: center;

        p {
            margin: 0;
        }    
    }
    .green {
            background-color: var(--green);
            color: white;
        }
    .animated {
        animation: flip 0.5s ease;
    }
    @keyframes flip {
        0% {
            transform: scaleY(1);
        }
        50% {
            transform: scaleY(0);
        }
        100% {
            transform: scaleY(1);
        }
    }
    .yellow {
            background-color: var(--yellow);
            color: white;
        }
    .gray {
            background-color: var(--gray);
            color: white;
        }
    .black {
            background-color: var(--black);
            color: white;
    }
}