:host {
    .contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .content {
            margin-top: 100px;
        }
    }

    .model-message {
        position:absolute;
        inset:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.35);

        .message {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 8px;
            padding: 20px 40px;
            font-size: medium;
            font-weight: bold;
            letter-spacing: 3px;
        }
    }
}