:host {
    .contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .content {
            margin-top: 100px;
        }
    }
}